*.pyc
*.swp
*.coverage
*.bak
docs/_build/*
build/
dist/
*.egg-info/
.virtualenv
.cache
.idea/
site/
.python-version
.pytest_cache/
tests_integration/repos/
irida-uploader.log
irida_uploader_status.info
.vscode/
venv/
