*.pyc
*.swp
*.coverage
*.bak
docs/_build/*
build/
dist/
*.egg-info/
.virtualenv
.cache
.idea/
site/
.python-version
.pytest_cache/
iridauploader/tests_integration/repos/
iridauploader/tests_integration/test_config.conf
iridauploader/tests_integration/tmp/
irida-uploader.log
irida_uploader_status.info
.vscode/
venv/
