[Application]
name=IRIDA Uploader GUI
version=0.9.2
entry_point=iridauploader.gui.gui:main
icon=iridauploader/gui/images/icon.ico
# Uncomment this to have a console show alongside the application
# console=true

[Python]
version=3.8.6
bitness=32
format=bundled

[Include]
packages=iridauploader
    rauth
    pkg_resources
    cerberus
    appdirs
    requests
    urllib3
    chardet
    certifi
    idna
    argparse
    requests_toolbelt

exclude=pkgs/iridauploader/tests
    pkgs/iridauploader/tests_integration

pypi_wheels= PyQt5==5.15.2
    PyQt5-sip==12.8.1

# Adds iridauploadergui as a command to cmd to launch the gui
[Command iridauploadergui]
entry_point=iridauploader.gui.gui:main

# Adds iridauploader as a command to cmd to run the commandline application
[Command iridauploader]
entry_point=iridauploader.core.cli:main
